{% extends 'base.html' %}

{% block page_head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='css/product.css')}}">
{% endblock %}
{% block tohen %}
<div class="navis">

    <div class="link1">


        <button onclick="window.location.href='/products_add_product';"> הוסף מוצר</button>
        <button onclick="window.location.href='/products_update_category/4-';"> ערוך מוצר</button>
        <button onclick="window.location.href='/products_delete_category/8-';"> מחק מוצר</button>
    </div>
</div>
<section>
    <div id="HR" class="product" class="pading">

        {% if products %}

        {% for product in products %}

        <div class="pro"><img src="/static/product/product4.jpg">
            <div class="des"><span>{{ product.id }}    &nbsp: מספר הצעצוע </span>
                <h5> {{ product.toy_name }}</h5>
            </div>
        </div>


        {% endfor %}

        {% endif %}
    </div>
</section>


{% endblock %}