  {% extends 'base.html' %}


{% block tohen %}




        <div class="navis">

            <div class="link1">

             
                <button onclick="newToy3()"> כל הקטגוריות </button>
                <button onclick="newToy()"> גילאי -+4 </button>
                <button onclick="newToy1()"> גילאי -+8 </button>
                <button onclick="newToy2()"> גילאי -+9 </button>
        

            </div>
 
        </div>

    </div>


    <section>
        <div id="HR" class="product" class="pading">



        </div>
    </section>


{% endblock %}