{% extends 'base.html' %}

{% block page_head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='css/product.css')}}">
{% endblock %}
{% block tohen %}
<div class="navis">

    <div class="link1">


        <button onclick="window.location.href='/products_all_categories';"> כל הקטגוריות</button>
        <button onclick="window.location.href='/products_by_category/4-';"> גילאי -+4</button>
        <button onclick="window.location.href='/products_by_category/8-';"> גילאי -+8</button>
        <button onclick="window.location.href='/products_by_category/9+';"> גילאי -+9</button>
    </div>
</div>
<section>

    <div id="HR" class="product" class="pading">


        {% if products %}

        {% for product in products %}


        <div class="pro">

                <div class="des">
                     {% if product.toy_image_url %}
                     <a href="{{ url_for('static',filename= 'media/product/'+ product.toy_image_url)}}" target="_blank">
                     {% endif %}
                    <span>{{ product.id }}    &nbsp: מספר הצעצוע </span>
                         <h5> {{ product.toy_name }}</h5> </a>
                </div>

        </div>


        {% endfor %}

        {% endif %}
    </div>

</section>


{% endblock %}