{% extends 'base.html' %}

{% block page_head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='css/MainCss.css')}}">
<link rel="stylesheet" href="{{ url_for('contact.static',filename='css/contactCss.css')}}">
{% endblock %}

{% block tohen %}

{% if sucsses_message %}
<h1 class="contact_message">{{ sucsses_message }}</h1>


{% else %}
<div class="contact-container">
    <div class="formm">


        <div class="forr">

            <div class="h11">
                <h1 class="hone">צרו קשר</h1>
            </div>


            <div class="forrr">

                <form action="/contact_submit" method="post">
                    <label for="subject">נושא ההודעה</label><br>
                    <input id="subject" name="subject" type="text" maxlength="20" placeholder="נושא ההודעה"
                           name=" subject"><br>
                    <label for="user_text">פרטים נוספים</label><br>
                    <textarea id="user_text" name="user_text" cols="30" rows="6" placeholder="הקלד את תוכן ההודעה:"
                              maxlength="240" required></textarea><br>
                    <input type="submit" value="שלח">


                </form>

            </div>


        </div>

    </div>


</div>

</div>
{% endif %}
{% endblock %}