    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/MainCss.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />    <title>Galery Page</title>
        <script src="../static/product.js"></script>
        <title>Contact </title>

    </head>

    <body class="contact-container">


        <div class="headers">

            <div class="left">
                <h1>חברים לשיתוף</h1>
                <p id="p1">רשת חברתית לשיתוף משחקים</p>
            </div>
    
            <div>
                <div class="link">
    
                    <div class="link">
    
                        <a href="../templates/About.html">אודות</a>
                        <a href="../templates/HomePage.html">דף הבית</a>
                        <a href="../templates/Contact.html">צור קשר</a>
                        <a href="../templates/products.html">גלריית מוצרים </a>
    
                    </div>
                    <a class="nav"  href="/templates/UserPage_signup.html" ><span class="material-symbols-outlined">settings_accessibility</span>
                    </a>
                </div>
            
            
                <a class="navi " href="../templates/nav.html"> <img src="../static/product/nav.jpg" alt=""> </a>
            
    
    
            </div>
        </div>
    
    


        <div class="formm">


            <div class="forr">

                <div class="h11">
                <h1 class="hone">צרו קשר</h1>
                </div>


                <div class="forrr">

                    <form action="URL" method="post">
                        <label for="name">שם מלא</label><br>
                        <input id="name" name="name" onblur="checkName('name')" type="text" maxlength="20" id="full name" placeholder="full name" name="Full name"><br>
                        <label for="email">email</label><br>
                        <input type="email" id="email" name="email" onblur="checkEmail('email')" placeholder="email"><br>
                        <label for="password">password</label><br>
                        <input type="password" maxlength="20" onblur="checkPassword('password')" name="password" id="password" placeholder="password"><br><br>
                        <label for="user-text">פרטים נוספים</label><br>
                        <textarea name="user-text" cols="30" rows="6" placeholder="Enter yout text:"></textarea><br>
                        <input type="submit"><br>

                        <!--<div class="return">

                            <ul>
                                <a id="back"
                                        href="HomePage.html">חזרה לדף הבית</a>
                                       
                            </ul>
                        </div>-->
                
                    </form>

                </div>


            </div>

        </div>


        </div>
        <footer>

            <p>הזינו מייל והכנסו לרשימת התפוצה שלנו</p>
    
            <div class="email">
                <form action="#">
                    <label for="fname">email</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your email..">
                    <input type="submit" value="Submit">
                </form>
            </div>
    
        </footer>
    </body>

    </html>