{% extends 'base.html' %}

{% block page_head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='css/MainCss.css')}}">
{% endblock %}

{% block tohen %}

<body class="contact-container">
<div class="formm">


    <div class="forr">

        <div class="h11">
            <h1 class="hone">צרו קשר</h1>
        </div>


        <div class="forrr">

            <form action="URL" method="post">
                <label for="name">שם מלא</label><br>
                <input id="name" name="name" onblur="checkName('name')" type="text" maxlength="20" id="full name"
                       placeholder="full name" name="Full name"><br>
                <label for="email">email</label><br>
                <input type="email" id="email" name="email" onblur="checkEmail('email')" placeholder="email"><br>
                <label for="password">password</label><br>
                <input type="password" maxlength="20" onblur="checkPassword('password')" name="password" id="password"
                       placeholder="password"><br><br>
                <label for="user-text">פרטים נוספים</label><br>
                <textarea name="user-text" cols="30" rows="6" placeholder="Enter yout text:"></textarea><br>
                <input type="submit"><br>

                <!--<div class="return">

                    <ul>
                        <a id="back"
                                href="HomePage.html">חזרה לדף הבית</a>

                    </ul>
                </div>-->

            </form>

        </div>


    </div>

</div>


</div>

</body>
{% endblock %}