{% extends 'base.html' %}
{% block page_head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='css/MainCss.css')}}">
{% endblock %}




 {% block tohen %}



    
    <div class="signUp">

          <div class="signUp-header">
              <h1>רישום לאתר</h1>
          </div>

          <form action="URL" method="post" class="signUp-form">
              <label for="name">שם מלא</label><br>
              <input id="name" name="name" onblur="checkName('name')" type="text" maxlength="20" id="full name" placeholder="full name" name="Full name"><br>
              <label for="email">מייל</label><br>
              <input type="email" id="email" name="email" onblur="checkEmail('email')" placeholder="email"><br>
              <label for="password">סיסמה</label><br>
              <input type="password" maxlength="20" onblur="checkPassword('password')" name="password" id="password" placeholder="password"><br>
              <label for="password">הקש את הסיסמה שנית</label><br>
              <input type="password" maxlength="20" onblur="checkPassword('password')" name="password" id="password" placeholder="password"><br><br>
              <input type="submit" value="הרשמה"><br><br>
          </form>
    </div>

 {% endblock %}