
{% extends 'base.html' %}


{% block tohen %}

    <div class="pic">
        
            <div class="divdiv">
                <h1>ברוכים הבאים </h1>
                <p>אתר זה מאפשר לשדך בין אלו המעוניינים לשתף ולמסור משחקים וצעצועים לאותם אלו המעוניינים בהם, זהו מיזם
                    חברתי ללא מטרות רווח
                </p>
                <!-- <button>רישום</button> -->
            </div>

    </div>


    <div class="continer">

        <div class="box">

            <div class="rent">
                <div class="heder">סביבה ירוקה</div>
                <!-- <div class="link"> <a href="#">#Home Page</a> </div> -->
            </div>

            <div class="rent1">
                <div class="heder">קהילה חזקה</div>
                <!-- <div class="link"> <a href="#">#Home Page</a> </div> -->
            </div>

            <div class="rent2">
                <div class="heder" href="Contact.html">סוציאלים</div>
                <!-- <div class="link"> <a href="#">#Home Page</a> </div> -->
            </div>

            <div class="rent3">
                <div class="heder">צרכנות נבונה</div>
                <!-- <div class="link"> <a href="#">#Home Page</a> </div> -->
            </div>


        </div>


    </div>
{% endblock %}

