.contact_firt_load-header {
  color: #fff;
  text-align: center;
  font-size: 200%;
}

.contact_login_button{
    text-align: center;


}

.contact_message{
   color: #fff;
  text-align: center;
  font-size: 200%;


}