<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>page title</title>{% endblock %}
    {% include('nav_bar.html') %}

    {# CSS #}

     {% block page_head_css %}
     {% include('style.html') %}
     {% endblock %}


    {# JS #}

    {% block page_body_js %}
    {% include('functional.html') %}
    {% endblock %}
</head>
<body>

{% block tohen %}

{% endblock %}



{% block page_body_footer %}
   <footer>
    {% include('footer.html') %}
   </footer>
{% endblock %}
</body>

</html>
