<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>page title</title>{% endblock %}
    {% include('nav_bar.html') %}

        {# CSS #}
        {% include('style.html') %}
        {% block page_head_css %}{% endblock %}


         {# JS #}
        {% include('functional.html') %}
        {% block page_body_js %}{% endblock %}
</head>
<body>

{% block tohen %}
    <h1>Message from BASE Page!</h1>
{% endblock %}


</body>
{% include('footer.html') %}
</html>
