<div class="headers">

        <div class="left">
            <h1>חברים לשיתוף</h1>
            <p id="p1">רשת חברתית לשיתוף משחקים</p>
        </div>

        <div>
            <div class="link">

                <div class="link">

                    <a href="/about">אודות</a>
                    <a href="/homepage">דף הבית</a>
                    <a href="/contact">צור קשר</a>
                    <a href="/products">גלריית מוצרים </a>

                </div>
                <a class="nav"  href="/templates/UserPage_signup.html" ><span class="material-symbols-outlined">settings_accessibility</span>
                </a>
            </div>


            <a class="navi " href="../templates/nav.html"> <img src="../static/product/nav.jpg" alt=""> </a>



        </div>
    </div>