<div class="headers">

        <div class="left">
            <h1>חברים לשיתוף</h1>
            <p id="p1">רשת חברתית לשיתוף משחקים</p>
        </div>

        <div>

            <div class="link">

                <div class="link">

                    <a href="/about">אודות</a>
                    <a href="/homepage">דף הבית</a>
                    {% if not session['loged_in'] %}
                     <a href="/contact/first_display">צור קשר</a>
                     {% endif %}
                    {% if session['loged_in'] %}
                     <a href="/contact/contact_us">צור קשר</a>
                     {% endif %}
                    <a href="/products">גלריית צעצועים </a>
                    {% if session['loged_in'] %}
                    <a href="/user_products">הצעצועים שלי </a>
                    {% endif %}
                </div>
                <a class="nav"  href="/user_login" ><span class="material-symbols-outlined">login</span>
                </a>
            </div>


            <a class="navi " href="../templates/nav.html"> <img src="../static/product/nav.jpg" alt=""> </a>



        </div>
    </div>