{% extends 'base.html' %}


{% block page_head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='css/UserCss.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/MainCss.css')}}">
{% endblock %}

{% block tohen %}


<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="login">
    {% if not session['loged_in'] %}
    <div class="login-header">
        <h1>התחברות</h1>
    </div>
    {% endif %}

    {% if message %}
    <h1 class="register_message">{{ message }}</h1>
    {% endif %}


    {% if not session['loged_in'] %}

    <form action="/user_login_validation" method="post" class="login-form">
        <label for="email">מייל</label><br>
        <input type="email" id="email" name="email" onblur="checkEmail('email')" placeholder="email"><br>
        <label for="password">סיסמה</label><br>
        <input type="password" maxlength="20" name="password" id="password"
               placeholder="password"><br>
        <input type="submit" value="התחברות"><br><br>
        <h4><a class="signUp_Button" href="/user_sign_up">משתמש חדש? הירשם לאתר</a></h4><br><br>
        <h4 class="no-access">?שכחת את הסיסמה</h4>
    </form>
</div>
{% endif %}

{% if   session['loged_in'] %}
     {% if  user_name %}
        <h1 class="hello_message"> {{ user_name }}  </h1>
      {% endif %}
<div class="log_out_button">
    <button onclick="window.location.href='/user_logout_validation';"> התנתק</button>
</div>
{% block page_body_footer %}

{% endblock %}


{% endif %}

{% endblock %}
