{% extends 'base.html' %}
{% block page_head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='css/MainCss.css')}}">
{% endblock %}

{% block tohen %}

    <div class="aboutext">

        <h2>מי אנחנו?</h2>
        <p>פרויקט "צעצועים להמונים" הינה מערכת שיתוף הצעצועים הראשונה בעולם!</p>

        <h3>:הפרויקט נוסד ופועל לאור הערכים הבאים</h3>
        <ul>
            <li>מעורבות חברתית -</li>
            <li>צרכנות נבונה -</li>
            <li>היכולת לאפשר לשכבות מעוטות יכולת להנות מצעצועים -</li>
        </ul>
        <p>.כאן, סוף סוף, תוכלו למצוא למי למסור את הצעצועים שכבר אינכם זקוקים להם<br>
            (כי חבל לזרוק צעצועים שיכולים להועיל למישהו אחר)</p>
        <p>.כאן, סוף סוף, תוכלו למצוא את האדם שימסור לכם את הצעצוע שילדיכם כל כך רוצים<br>
            (כי חבל להוציא סתם כסף, במקום לעשות איתו את הדברים שבאמת רוצים)</p>

    </div>






{% endblock %}

