<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/MainCss.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Galery Page</title>
    <script src="../static/product.js"></script>
    <title>Contact </title>

</head>

<body>

    <div class="headers">

        <div class="left">
            <h1>חברים לשיתוף</h1>
            <p id="p1">רשת חברתית לשיתוף משחקים</p>
        </div>

        <div>
            <div class="link">

                <div class="link">

                    <a href="../templates/About.html">אודות</a>
                    <a href="../templates/HomePage.html">דף הבית</a>
                    <a href="../templates/Contact.html">צור קשר</a>
                    <a href="../templates/products.html">גלריית מוצרים </a>

                </div>
                <a class="nav" href="/templates/UserPage_signup.html"><span class="material-symbols-outlined">
                    settings_accessibility</span>
                </a>
            </div>


            <a class="navi " href="../templates/nav.html"> <img src="../static/product/nav.jpg" alt=""> </a>



        </div>
    </div>



    <div class="aboutext">

        <h2>מי אנחנו?</h2>
        <p>פרויקט "צעצועים להמונים" הינה מערכת שיתוף הצעצועים הראשונה בעולם!</p>

        <h3>:הפרויקט נוסד ופועל לאור הערכים הבאים</h3>
        <ul>
            <li>מעורבות חברתית -</li>
            <li>צרכנות נבונה -</li>
            <li>היכולת לאפשר לשכבות מעוטות יכולת להנות מצעצועים -</li>
        </ul>
        <p>.כאן, סוף סוף, תוכלו למצוא למי למסור את הצעצועים שכבר אינכם זקוקים להם<br>
            (כי חבל לזרוק צעצועים שיכולים להועיל למישהו אחר)</p>
        <p>.כאן, סוף סוף, תוכלו למצוא את האדם שימסור לכם את הצעצוע שילדיכם כל כך רוצים<br>
            (כי חבל להוציא סתם כסף, במקום לעשות איתו את הדברים שבאמת רוצים)</p>

    </div>





    <footer>

        <p>הזינו מייל והכנסו לרשימת התפוצה שלנו</p>


        <div class="email">
            <form action="#">
                <label for="fname">email</label>
                <input type="text" id="fname" name="firstname" placeholder="Your email..">
                <input type="submit" value="Submit">
            </form>
        </div>

    </footer>
</body>

</html>